@font-face {
  font-family: starwars;
  src: url("fonts/starjedi/Starjedi.ttf");
}
.footer {
  color: #FFE81F;
  font-family: starwars;
}

.bg {
  min-height: 100vh;
  background-image: url(imgs/bgIThink.jpg);
  background-size: cover;
  object-fit: cover;
}
#Logo{
  width: 50px;
}

.nav-link {
  color: #FFE81F;
  font-family: starwars;
}

.nav-link:hover {
  color: #c2b011;
}


.nav-link:focus,
.nav-link.active {
  color: #FFE81F ; 
  text-decoration: none; 
}

.big {
  height: 90vh;
  width: 100vw;
}

.stuff {
  color: #FFE81F;
  font-family: starwars;
}

.popIn {
  animation: popIn 0.6s ease-out forwards;
}

@keyframes popIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}