@font-face {
  font-family: starwars;
  src: url("fonts/starjedi/Starjedi.ttf");
}
.footer {
  color: #FFE81F;
  font-family: starwars;
}

.bg {
  min-height: 100vh;
  background-image: url(imgs/rosterbg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#Logo{
  width: 50px;
}

.nav-link {
  color: #FFE81F;
  font-family: starwars;
}

.nav-link:hover {
  color: #c2b011;
}


.nav-link:focus,
.nav-link.active {
  color: #FFE81F ; 
  text-decoration: none; 
}

.border1 {
  border:#7c5f3f solid 5px;
}